@tailwind base;
@tailwind components;
@tailwind utilities;
/* Utilities for line clamping used in HomeCards */
/* If needed, install @tailwindcss/line-clamp plugin. Here we mimic 2-line clamp. */
.my-class{
  line-clamp: 3;              
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}